.login {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  box-shadow: 0 13px 27px -5px rgba(0, 0, 0, 0.025),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  position: relative;
  padding: 16px;
  border-radius: 10px;
}

.login input {
  width: 100%;
  margin-bottom: 3em;
  border: none;
  outline: none;
  line-height: 2;
  border-bottom: 2px solid dimgray;
}

.login button {
  background-color: dimgray;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
}

.login button:hover {
  background-color: whitesmoke;
  color: dimgray;
}

.login__message {
  color: red;
  margin-bottom: 10px;
}
