.newreleases {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 64px;
  margin: 0;
}

.main {
  width: 100%;
  padding: 40px;
}

.main__header__title,
.main__header__p {
  margin-top: 0;
  margin-bottom: 16px;
}

.main__albums {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
