.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.search__main {
  width: 100%;
  padding: 40px;
}

.search__main__header__title,
.search__main__header__p {
  margin-top: 0;
  margin-bottom: 16px;
}

.search__main__albums {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
